[user]
	name = Andy Armstrong
	email = andy@hexten.net
[github]
	user = AndyA
[alias]
        br = branch
        ci = commit
        co = checkout
        sm = submodule
        st = status
        dft = difftool
        dlog = "!f() { GIT_EXTERNAL_DIFF=difft git log -p --ext-diff $@; }; f"
[color]
	ui = auto
[column]
        ui = auto
[core]
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !~/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !~/bin/gh auth git-credential

[branch]
        sort = -committerdate
[tag]
        sort = version:refname
[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
[grep]
        patternType = perl
[push]
        default = simple
        autoSetupRemote = true
        followTags = true
[fetch]
        prune = true
        pruneTags = true
        all = true
[help]
        autocorrect = prompt
[commit]
        verbose = true
[rerere]
        enabled = true
        autoupdate = true
[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true

