.adobe
.afterstep
.apache-test
.appcfg_nag
Applications
.bash_history
.bash_logout
.bazaar
.bcast
.beebem
.bzr.log
.cache
.ccache
.CFUserTextEncoding
.cgdb
.citrix
.compiz
.config
.cpan
.cpan_mini_webserver
.cpanplus
.crazy
.ctags.tmcodebrowser
.cups
.cvspass
.cvsps
.dbsave
.dbus
.ddd
Desktop
.dmrc
Documents
.dosemu
.DownloadManager
Downloads
.dropbox
Dropbox
.dropbox-dist
dwhelper
.eclipse_keyring
.esd_auth
.evolution
.filezilla
.fluxbox
.fontconfig
.gconf
.gconfd
.gdb_history
.gem
.gemrc
.gforth-history
.gimp-2.4
.gitconfig
.gitk
.gksu.lock
.gnome2
.gnome2_private
.gnupg
.google
.gstreamer-0.10
.gtk-bookmarks
.gvfs
.htoprc
.ICEauthority
.icons
.ion3
.irb_history
.irssi
.kde
.keystore
.kino-history
.kinorc
.komodoedit
.lesshst
.lftp
Library
.links
.local
.luarocks
.m2
.macports
.macromedia
Mail
.mailtail
.mailtailrc
.mission-control
Movies
.mozilla
.mozilla-thunderbird
.mplayer
Music
.mysql_history
.nautilus
.notifo
.openoffice.org
.openshot
.openvpn
.org.eclipse.epp.usagedata.recording.userId
.pause
.perl
.perldb_history
.pgpass
Pictures
.pind
.pki
.plurk
.plurk-cpan.store
.povray
.profile
.prove
.psql_history
.ptksh_history
Public
.pulse
.pulse-cookie
.purple
.putty
.recently-used.xbel
.remote_test
.ri
.rnd
.scala_history
.screen-profiles
.sieve
Sites
.Skype
.smokestack-stash.yml
.smoke-tapx
.smoke-work
.spamassassin
.splunk
.sqlite_history
.srl
.ssh
.ssh-agent
.sudo_as_admin_successful
svn-prop.tmp
Templates
.testdriverc
.tgdb
.themes
.thinupload
.thumbnails
.thunderbird
.titi
.Trash
.tsclient
.twitter
Ubuntu One
.update-manager-core
.update-notifier
.usb-creator.log
.usbcreator.log
Videos
.viking
.viking-maps
.viminfo
.vimprojects
.vmware
.wapi
.wine
.wireshark
Works
.Xauthority
.xchat2
.Xcode
.xsession-errors
.xsession-errors.old
.zcompdump
.zshrc

