.*.crun
.*.sw?
.CFUserTextEncoding
.DS_Store
.sw?
/.AndroidStudio*/
/.AppleDesktop/
/.AppleDouble/
/.DownloadManager
/.Horgand
/.ICEauthority
/.IdeaIC14/
/.MakeMKV/
/.Skype
/.Trash
/.VirtualBox/
/.WorkBench
/.XaraLXFilters/
/.Xauthority
/.Xcode
/.adobe
/.afterstep
/.airstreamrc
/.airtame/
/.android
/.apache-test
/.apache/
/.appcfg_nag
/.aptitude
/.arduino.mk
/.arduino/
/.arista
/.atom/
/.audacity-data/
/.avidemux/
/.avidemux6/
/.aws/
/.bash_history
/.bash_local
/.bash_logout
/.bash_profile
/.bash_sessions/
/.bazaar
/.bcast
/.beebem
/.bluefish/
/.byobu/
/.bzr.log
/.cache
/.carmetal_config/
/.ccache
/.cgdb
/.citrix
/.cola
/.compiz
/.config
/.cpan
/.cpan_mini_webserver
/.cpanm
/.cpanplus
/.cpantesters
/.crazy
/.ctags.tmcodebrowser
/.cups
/.cvspass
/.cvsps
/.dbsave
/.dbshell
/.dbus
/.dbus-keyrings
/.ddd
/.din/
/.dmrc
/.dosemu
/.dotcloud/
/.dropbox
/.dropbox-dist
/.dropbox-master/
/.dvdcss
/.dzil
/.eagle/
/.eaglerc
/.eclipse
/.eclipse_keyring
/.emacs
/.esd_auth
/.evolution
/.filezilla
/.flashplayer-versions
/.flickr-downloadr/
/.flowblade/
/.fluxbox
/.fontconfig
/.fonts/
/.freevo
/.gEDA/
/.gconf
/.gconfd
/.gdb_history
/.gegl-*
/.gem
/.gemrc
/.get_iplayer/
/.gforth-history
/.gimp-*/
/.gitconfig
/.gitk
/.gksu.lock
/.gnome/
/.gnome2
/.gnome2_private
/.gnupg
/.gnuplot_history
/.google
/.gphoto/
/.gradle/
/.gstreamer-*
/.gtk-bookmarks
/.gtk-recordmydesktop
/.gtkrc-*
/.guestfish
/.gvfs
/.hcwd
/.homebridge/
/.hotssh
/.htoprc
/.icons
/.idea/
/.idlerc/
/.inkscape-etc/
/.install4j
/.ion3
/.irb-history
/.irb_history
/.irssi
/.ivy2
/.jackdrc
/.java
/.jmc/
/.kde
/.keystore
/.kino-history
/.kinorc
/.komodoedit
/.lesshst
/.lftp
/.lightworks.thereCanBeOnlyOne
/.links
/.links2/
/.linuxbrew
/.lldb-history
/.lldb/
/.local
/.log/
/.luarocks
/.m2
/.macports
/.macromedia
/.mailtail
/.mailtailrc
/.mdbhistory
/.merkaartor/
/.minecraft/
/.mission-control
/.mongorc.js
/.mozconfig
/.mozilla
/.mozilla-thunderbird
/.mplayer
/.mysql/
/.mysql_history
/.nDSstore
/.nautilus
/.node-gyp/
/.node_repl_history
/.notifo
/.npm/
/.nvidia-settings-rc
/.octave_hist
/.openoffice
/.openoffice.org
/.openshot
/.openvpn
/.oracle_jre_usage/
/.org.eclipse.epp.usagedata.recording.userId
/.ovpn/
/.padre
/.pause
/.pdepend/
/.pearrc
/.perl
/.perlbrew
/.perldb_history
/.pgpass
/.pind
/.pip/
/.pki
/.plurk
/.plurk-cpan.store
/.povray
/.profile
/.prove
/.psql_history
/.ptksh_history
/.pulse
/.pulse-cookie
/.purple
/.putty
/.qgis2/
/.qt
/.quicksynergy
/.recently-used
/.recently-used.xbel
/.rediscli_history
/.remmina/
/.remote_test
/.ri
/.rnd
/.rpmdb
/.rsync-filter
/.rvm/
/.s3/
/.s3cfg
/.sc_history
/.scala_history
/.scratchbox2/
/.screen-profiles
/.shcache
/.sieve
/.smb
/.smbcredentials
/.smoke-tapx
/.smoke-work
/.smokestack-stash.yml
/.sonjzeen
/.spamassassin
/.splunk
/.sprouts/
/.spumux/
/.sqlite_history
/.squidview
/.srl
/.ssh
/.ssh-agent
/.sshterm/
/.ssr/
/.sudo_as_admin_successful
/.svn
/.swfinfo
/.synergy.conf
/.testdriverc
/.tgdb
/.themes
/.thinupload
/.thumb/
/.thumbnails
/.thunderbird
/.titi
/.tsclient
/.twitter
/.uml/
/.update-manager-core
/.update-notifier
/.usb-creator.log
/.usbcreator.log
/.v8flags.*
/.vagrant.d/
/.viking
/.viking-maps
/.viminfo
/.vimprojects
/.vmware
/.vpndiff
/.w3af/
/.wapi
/.wget-hsts
/.whohas/
/.wine
/.winff/
/.wireshark
/.wsrc
/.wtmp.json
/.xaralx/
/.xchat2
/.xine
/.xinputrc
/.xscreensaver
/.xsession-errors
/.xsession-errors.old
/.xslate_cache/
/.zcompdump
/.znc
/.zshrc
/Applications
/Box Documents/
/Desktop
/Documents
/Downloads
/Dropbox
/Google Drive/
/Library
/Lightworks/
/Mail
/Movies
/Music
/Network Trash Folder/
/Pictures
/Public
/Sites
/Store/
/Templates
/Temporary Items/
/Ubuntu One
/Videos
/VirtualBox VMs
/Works
/dwhelper
/examples.desktop
/gitolite-admin/
/gitosis-admin
/kdenlive/
/mbox
/mm.cfg
/node_modules/
/perl5
/svn-prop.tmp
/workspace
