"*":
  "exception-reporting":
    userId: "f9a18cac-be95-c8b9-09ec-02a129e9b8d7"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
    disabledPackages: [
      "jshint"
      "jsdoc-generator"
      "linter"
      "makro"
      "autocomplete-ctags"
    ]
    projectHome: "~/Works"
  editor:
    invisibles: {}
  mocha:
    specDirectory: "./test/"
  minimap:
    plugins:
      "git-diff": true
  "terminal-panel": {}
  linter: {}
  "linter-eslint":
    showRuleIdInMessage: true
    disableWhenNoEslintrcFileInPath: true
  docblockr:
    auto_add_method_tag: true
    deep_indent: true
    align_tags: "shallow"
    extra_tags_go_after: true
  "jsdoc-generator": {}
  perltidy: {}
  "linter-less": {}
  "clang-format":
    formatJavascriptOnSave: false
